// app global css in Stylus form
// app global css
body {
}
.icon
  width 1em
  height 1em
  vertical-align -0.15em
  font-size 36px
  fill currentColor
  overflow hidden
.NotiWarn
  text-align center
.poptip {
  background-color $grey-3
  color black
  width 75%
  text-align center
  .q-dialog__message {
    color white
    font-size 16px
    opacity 1
  }
}
.poperror {
  background-color $red-5
  color white
  width 15rem
  text-align center
  .q-dialog__message {
    color white
    font-size 16px
    opacity 1
  }
}
.rcv-btn
  position fixed
  bottom 0
  right 0
.setting-btn
  position fixed
  bottom 30px
  right 0
.orderlist
  padding-bottom 65px
.printlist

.rcvedlist
  th /* bg color is important for th; just specify one */
    color black
    opacity 1
  td
    font-size 14px
  .q-btn
    font-size 2em
.adjustlist
  tr:first-child th /* bg color is important for th; just specify one */
    color black
    font-weight bold
  td
    font-size 14px
  thead tr:first-child th:first-child
    background-color #fff
    opacity 1
  thead tr:first-child th:first-child,
  td:first-child
    position sticky
    left 0
    z-index 1
.partRcv
  background: $deep-orange-2
  color:black
.partRcv:hover
  background: $deep-orange-2 !important
  color:black
.allRcv
  background: white
  color:black
.allRcv:hover
  background: white !important
  color:black
.order-pop
  width 100%

.InputLabel
  vertical-align bottom
  line-height 40px
  text-align:center

#orderCostInput, #orderQtyInput, #rtwQtyInput, #rtvQtyInput
  width 100px
  text-align center
.bhg-btn
  min-width:80px
  background-color #1F533C
  color white
.bhg-btn:focus
    background-color $light-green-3
    color $green-10
.print-btn
  position fixed
  bottom 0
  right 0
.print-primary
  font-size: 1em !important
  min-width:80px
  background-color #1F533C
  color white
.print-primary:focus
  background-color $light-green-3
  color $green-10
.print-primary:hover
  background-color $light-green-3
  color $green-10

.btn-primary
  min-width:80px
  background-color #1F533C
  color white
.btn-primary:focus
  background-color $light-green-3
  color $green-10
.btn-primary:hover
  background-color $light-green-3
  color $green-10
.btn-negative
  min-width:80px
  color white
  background-color #1F533C
.btn-negative:focus
  background-color $light-green-3
  color $green-10
.btn-back
  color black
.btn-back:focus
  color $negative
.btn-back:hover
  color $negative
.btn-tabs
  background-color #1F533C
  color $grey-5
  border-radius 0
.btn-tabs:focus
  background-color $grey-3
  color black
.btn-tabs:hover
  background-color $grey-3
  color black
.print-title
  margin 0
.print-header
  padding  0
  min-height 0

.redlist
  background: white
  color:red
.blacklist
  background: white
  color:black